/* Color variables for the website */

$bgDefault: rgb(244, 247, 248);
$bgHighlight: #E5E8E9;
$colDefault: #8832df;
$colHighlight: #6606b6;
$fontDefault: #333;
$fontHeading: #5A088A;
$fontHighlight: #8832df;
$dropDown: true;
@mixin mquery($sizes...) {
    @each $size in $sizes {
        @if $size==xs {
            @media (max-width: 575px) {
                @content;
            }
        }
        @if $size==sm {
            @media (min-width: 576px) and (max-width: 768px) {
                @content;
            }
        }
        @if $size==md {
            @media (min-width: 768px) and (max-width: 1024px) {
                @content;
            }
        }
        @if $size==lg {
            @media (min-width: 1025px) {
                @content;
            }
        }
        @if $size==atLeastTablet {
            @media (min-width: 576px) {
                @content;
            }
        }
        @if $size==belowDesktop {
            @media (max-width: 1024px) {
                @content;
            }
        }
    }
}