@import 'shared';
.dcBody {
    padding: 0px;
    width: 100%;
    height: 100%;
    >.dcBodyRow {
        display: table;
        width: 100%;
        height: 100%;
    }
}

.dcPanel {
    float: none;
    display: block;
    @include mquery(atLeastTablet) {
        height: 100%;
    }
}

.dcSidebar {
    @extend .dcPanel;
    background-color: $colDefault;
    padding-bottom: 10px;
    text-align: center;
    >h1 {
        padding: 40px;
        padding-bottom: 0px;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 10px;
        color: $fontHeading;
        font-family: 'Anton', sans-serif;
        font-size: 79px;
        line-height: 0.95em;
        letter-spacing: normal;
        &:nth-of-type(2) {
            margin-top: -5px;
            padding-top: 0px;
            padding-bottom: 5px;
        }
        >a {
            color: white;
            transition: 0.5s ease;
            text-decoration: none;
            &:hover {
                color: rgb(216, 214, 214);
            }
        }
    }
    @include mquery(atLeastTablet) {
        height: 100%;
        float: left;
        text-align: left;
        width: 300px;
    }
}

.dcSidebarNav {
    list-style: none;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
    >li {
        display: inline-block;
        float: none;
        padding: 0px;
        >a {
            border-bottom: 3px solid transparent;
            transition: 0.5s ease;
            color: rgb(45, 5, 92);
            font-family: 'Anton', sans-serif;
            letter-spacing: normal;
            text-decoration-line: none;
            text-transform: uppercase;
            margin-right: 10px;
            &:hover {
                border-bottom: 3px solid $colHighlight;
            }
            @include mquery(atLeastTablet) {
                padding-left: 5px;
                border-left: 3px solid transparent;
                border-bottom: none;
                transition: 0.5s ease;
                &:hover {
                    border-left: 3px solid $colHighlight;
                    border-bottom: none;
                }
            }
        }
        >.nav-divider-icon {
            color: $colDefault;
        }
        @include mquery(atLeastTablet) {
            display: list-item;
            float: none;
            text-align: left;
            margin-bottom: -10px;
        }
    }
    @include mquery(atLeastTablet) {
        margin-left: 45px;
        font-size: 40px;
    }
}

.dcSidebarSocial {
    list-style: none;
    font-size: 20px;
    padding: 0;
    text-align: center;
    >li {
        display: inline-block;
        float: none;
        padding: 5px;
        font-size: 20px;
        >a {
            border-bottom: 3px solid transparent;
            transition: 0.5s ease;
            color: $colHighlight;
            text-decoration-line: none;
            margin-right: 10px;
            >i {
                color: black;
                &:hover {
                    color: $colHighlight;
                    cursor: pointer;
                }
            }
            &:hover {
                border-bottom: 3px solid $colHighlight;
            }
        }
        >.nav-divider-icon {
            color: $colDefault;
        }
    }
}

.dcBodyContent {
    @extend .dcPanel;
    background-color: $bgDefault;
    padding-left: 20px;
    padding-right: 20px;
    >p {
        color: white;
        margin: 10px;
        text-align: justify;
        font-size: 20px;
    }
    @include mquery(atLeastTablet) {
        overflow-y: scroll;
        padding-left: 0;
        padding-right: 0;
    }
}

.dcHome {
    >p {
        margin: 10px;
        margin-top: 0;
        padding: 20px;
        font-size: 20px;
        color: black;
        text-align: justify;
        @include mquery(atLeastTablet) {
            position: absolute;
            bottom: 0;
            text-align: left;
        }
        >span {
            @include mquery(atLeastTablet) {
                background-color: white;
            }
        }
    }
    @include mquery(atLeastTablet) {
        width: 100%;
        height: 100%;
        background-image: url('../images/tower.jpg');
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}