@import 'shared';
.bootstrap-tagsinput {
    width: 100%;
    padding-bottom: 8px;
}

.dc-post {
    margin: 30px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
    .dc-post-title {
        font-family: 'Droid Serif', serif;
        font-weight: 800;
        font-size: 60px;
        line-height: 1em;
        text-decoration-line: none;
        color: $fontDefault;
        >a {
            color: $fontDefault;
            transition: 0.5s ease;
            >i {
                font-size: 30px;
                vertical-align: middle;
            }
            &:hover {
                color: $fontHighlight;
                text-decoration-line: none;
            }
        }
    }
    .dc-post-meta {
        color: rgb(187, 183, 183);
        >span {
            text-decoration-line: none;
            margin-right: 10px;
            >i {
                margin-right: 10px;
            }
            >a {
                color: rgb(187, 183, 183);
                transition: 0.5s ease;
                &:hover {
                    text-decoration-line: none;
                    color: rgb(131, 128, 128);
                }
            }
        }
    }
    .dc-post-content {
        margin-top: 10px;
    }
    @include mquery(small, medium, large) {
        margin: 50px;
    }
}